* {
  box-sizing: border-box;
}

.first-interested {
  display: flex;
  margin-bottom: 25px;
  flex-direction: column;
  align-items: center;
}

.interested-form,
.merch-btn {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.merch-btn {
  background-color: black;
}

.interested-form {
  margin-bottom: 25px;
}

.interested-form h3 {
  color: black;
  font-size: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
}

label {
  font-family: "Dosis", Helvetica, sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 22px;
}

.open-button,
.merch-button {
  background-color: #162133;
  color: white;
  border-radius: 30px 30px 30px 30px;
  margin-bottom: 15px;
  padding: 16px 20px;
  font-size: 14px;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  bottom: 23px;
  width: 280px;
  transition-duration: 0.7s;
}

.open-button:hover,
.merch-button:hover {
  transform: scale(1.1);
}

/* The overlay effect with black background */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(
    0,
    0,
    0,
    0.9
  ); /* Black with a little bit see-through */
  transition: 0.5s ease-in;
}

/* The content */
.overlay-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* The form container */
.formContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 40px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}


/* Style the search field */
.overlay input[type="text"],
.overlay input[type="email"] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 70%;
  background: white;
}

.overlay input[type="text"]:hover {
  background: #f1f1f1;
}
.overlay input[type="email"]:hover {
  background: #f1f1f1;
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 30%;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-top: 1.5rem;
  background-color: #afa3cf;
  padding-left: 20px;
  text-align: start;
  letter-spacing: 1px;
}

.overlay button:hover {
  background: #bbb;
}

/*
.sign-up-title {
   letter-spacing: 2px;
}*/
