@media only screen and (min-width: 800px) {
  .logotype {
    left: 20%;
    top: 28%;
    font-size: 4rem;
    font-weight: 600;
    transition: 0.8s ease;
    opacity: 0;
  }

  .hero-container:hover .logotype {
    opacity: 1;
  }

  .menu-visible {
    display: block;
  }
  .menu-visible ul {
    display: flex;
    flex-direction: row;
  }
  .menu-visible a {
    margin: 1rem;
    font-size: 13px;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    transition: 0.8s ease;
    opacity: 0;
  }
  .hero-container:hover .menu-visible a {
    opacity: 1;
  }
  .menu-visible li:hover {
    opacity: 0.7;
  }

  .hamburger-menu {
    display: none;
  }

  .history {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0;
  }

  .history p {
    line-height: 120%;
    width: 80%;
  }
  .video-history {
    width: 100%;
    display: flex;
    padding: 2rem;
    /* background-color: white;
        color: black; */
    height: 40rem;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* .video {
        width: 100%;
        display: flex;
        justify-content: center;
    } */

  /* video {
        width: 50%;
    } */

  .introduction p {
    width: 50%;
    font-size: 20px;
    line-height: 120%;
  }

  h2 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
  }

  .merchtitle {
    justify-content: flex-start;
    padding-left: 3rem;
  }
  .colorproduct {
    margin-top: 3.5rem;
  }
  .colorproduct .pick-color-img .box {
    margin: 1rem;
    width: 130px;
  }

  .colorproduct .main-color-img img {
    width: 80%;
  }

  /**** Submit button in form  ****/
  .overlay button {
    width: 22%;
  }


  /******** TECHINCAL OVERLAY ********/

  .technical-overlay-container {
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 40rem;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .tech-grid {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  .techimg {
    width: 50%;
  }
  .techimg img {
    width: 100%;
    object-fit: contain;
  }

  .technical-text {
    width: 40%;
    padding-right: 10px;
    padding-top: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .technical-text h2 {
    margin: 0;
  }

  .interior {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
    /* height: 70vh; */
  }

  .interior div {
   width: 50%;
   padding: 2rem;
  }

  .interior img {
    width: 100%;
  }

  hr {
    display: none;
  }

  .item1 {
  width: 80%;
  margin-top: 2rem;
}

.item2, .item3 {
  width: 400px;
  margin: 1rem;
}


.interested-form h3 {
  font-size: 1.5rem;
}
/******* FOOTER *******/

  footer {
    display: flex;

    flex-direction: column;
    align-items: center;
  }

  ul {
    display: flex;
  }
}
