* {
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: 'Dosis';
  src: url('/Fonts/Dosis-Regular.woff2') format('woff2'),
      url('Fonts/Dosis-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('Fonts/Dosis-Bold.woff2') format('woff2'),
      url('Fonts/Dosis-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


body {
  margin: 0;
  background-color: black;
  /* background-color: white; */
  color: white;
  font-family: Helvetica, sans-serif;
  /* display: flex;
    flex-direction: column; */
}


/*********** HEADER & LOGO ***********/
.hero-container {
  width: 100%;
  position: relative;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  z-index: 2;
}

.menu-visible {
  display: none;
}

.hamburger-menu {
  border: none;
  background: rgba(24, 33, 50, 0.5);
  box-shadow: 0;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

svg {
  width: 50px;
  height: 30px;
}

svg path {
  fill: white;
}

.logotype {
  position: absolute;
  left: 50%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #000000 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transform: translateX(-50%) translateY(-50%);
  top: 85%;
  z-index: 99;
  opacity: 80%;
}

.logotype img {
  width: 90%;
}

.logotype h2 {
  letter-spacing: 1px;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 0;
  position: absolute;
  top: 59%;
  left: 32%;
  width: 100%;
}


/*********** GRADIENT COLOR ************/
.introGradient {
  width: 100%;
  height: 20vh;
  display: table;
  position: absolute;
  left: 0;
  z-index: 1;
}

.topGradient {
  top: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 5%, black 99%);
}

.bottomGradient {
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 5%, black 99%);
}


/******** MAIN ********/
.history,
.technical-text,
.introduction {
  width: 100%;
  padding: 1rem;
  line-height: 160%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: 'Dosis', Helvetica, sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

.item {
  max-width: 100%;
  margin: 0.1rem auto;
}

ul {
  margin: 0;
  padding: 10px;
  text-align: center;
}

li {
  list-style: none;
  margin: 10px;
}

/**** IMG ON SCROLL ****/
.container-scroll img {
  max-width: 100%;
}

video {
  width: 100%;
}

.technical-overlay-container {
  background-color: white;
  color: black;
}

.interior {
  display: grid; 
}

/******** CHOOSE COLOR *********/
.colorproduct {
  padding-bottom: 2rem;
  text-align: center;
}

.colorproduct .main-color-img img {
  margin: auto;
  display: block;
}

/******** THUMBS *********/
.colorproduct .pick-color-img {
  text-align: center;
}

.colorproduct .pick-color-img .box {
  display: inline-block;
  width: 70px;
  border: 0.5px solid rgb(49, 49, 49);
  border-radius: 5%;
  border-width: 2px;
  margin: 2px;
  cursor: pointer;
}

.colorproduct .pick-color-img .box.active {
  border-color: white;
}

.colorproduct .pick-color-img img {
  max-width: 100%;
  max-height: 100%;
}

/****** Continue MAIN ******/
.merchtitle {
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid-merch {
  height: 400px;
}

.grid-item img,
.grid-merch img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.merch, .interior {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  margin-bottom: 25px;
}

/* .techimg {
  background-color: black;
}*/


/******** FOOTER ********/
footer {
  width: 100%;
  bottom: 0;
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 14px;
  margin-top: 1rem;
}

footer a {
  text-decoration: none;
  color: #162133;
}

.footer-copy {
  text-align: center;
  font-weight: bold;
}





/* .page-title,
.page-title-under {
  position: absolute;
} */

/* .grid-item {
  height: 250px;
} */

/*.technical-text {
  flex-direction: column-reverse;
}*/

/* 
.history, .technical-text {
  width: 100%;
  line-height: 160%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.technical-text h2, .history h2 {
  margin: 0;
} */